# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore log files
*.log

# Ignore all files in a directory
/public
/dist
/.idea

# Ignore a specific file with a certain extension
*.zip